MONGO_DBNAME=blabla # after you entered the database by using mongosh, type 'db' and you can see your database name. That's your MONGO_DBNAME.
MONGO_URI="mongodb://blabla-url" # type 'db.getMongo()' and you can see your MONGO_URI.