<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Exchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <a href="/">Home</a> | <a href="/account">My Account</a>
        <!-- User uses this navigation bar either to go to the home page or the my-account page. -->
    </nav>

    <section class="search-container">
        <form action="/" method="GET">
            <input type="text" name="query" placeholder="Search by genre, author, keyword...">
            <button type="submit">Search</button>
        </form>
    </section>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>