{% extends "base.html" %}

{% block content %}

<div class="search-container"> <!-- Implement the search feature later. -->
    <form action="/" method="GET">
        <input type="text" name="query" placeholder="Search by genre, author, keyword...">
        <button type="submit">Search</button>
    </form>
</div>

<h2>Available Books</h2>

<div class="book-grid">
    {% for book in books %}
    <div class="book-post" onclick="viewDetails('{{ book._id }}')"> <!-- viewDetails() is not implemented yet. It should somehow show more information about the book.-->
        <h3>{{ book.title }}</h3>
        <p>By: {{ book.author }}</p>
        <p>lender: {{ book.lender_name }}</p>
        <p>Interested: <span class="interest-count">{{ book.num_ppl_wanted }}</span></p>
        <button class="like-btn" data-id="{{ book._id }}">I want to borrow/buy</button>
    </div>
    {% endfor %}
</div>
<div class="home-header">
    <a href="{{ url_for('create_post') }}" class="post-button">
        + Make a post about a book I want to lend
    </a>
</div>
{% endblock %}