{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <h2>Create Account for Book Exchange </h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Choose Username" required>
        <input type="password" name="password" id = "password_input" placeholder="Choose Password" required>

        <div class="toggle-container">
            <input type="checkbox" id="toggle_checkbox" onclick="togglePassword()">
            <label for="toggle_checkbox">Show Password</label>
        </div>

        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</div>
{% endblock %}